{% extends 'base/base.html' %}

{% block title %}Confirmer la suppression{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Confirmer la suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a href="{% url 'cabinet:comptable_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}