{% extends 'base/base.html' %}
{% load static %}

{% block title %}Confirmer Suppression Événement Juridique{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Confirmer la suppression de l'Événement Juridique</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Supprimer l'Événement Juridique</h6>
        </div>
        <div class="card-body">
            <p>Êtes-vous sûr de vouloir supprimer l'événement juridique "<strong>{{ object.description }}</strong>" ?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
                <a href="{% url 'juridique:evenementjuridique_detail' object.pk %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}